* {
    box-sizing: border-box;

    scrollbar-width: auto;
    /* auto, thin, none */
    scrollbar-color: var(--primary-color) var(--background-color);
    /* thumb color, track color */
}

:root {
    --primary-color: oklch(0.4644 0.1534 21.2);
    --secondary-color: oklch(0.502 0.0828 181.67);
    --text-color: oklch(0.2934 0.0304 15.78);
    --background-color: oklch(0.85 0.0863 79.93);
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-weight: 700;
    margin: 50px auto auto auto;
    text-wrap: balance;
    font-family: "M PLUS 2", sans-serif;
    max-width: 1200px;
}

main {
    display: flex;
    gap: 4rem;
}

h1 {
    font-family: 'Dela Gothic One', cursive;
    font-size: 1.5rem;
}

h2 {
    font-family: 'Dela Gothic One', cursive;
    line-height: 0.8;
}

h2,
h3 {
    color: var(--primary-color);
}

p {
    font-size: 0.7rem;
    font-weight: 500;
}

header {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    margin-bottom: 2rem;
}

header h1 {
    grid-column: 1 / 5;
}

header p {
    grid-column: 6 / 9;
}

section {
    display: flex;
    gap: 2rem;
}

::selection {
    background-color: var(--primary-color);
    color: var(--background-color);
}

p::selection {
    background-color: var(--secondary-color);
    color: var(--background-color);
}

img::selection {
    background-color: var(--secondary-color);
    color: var(--background-color);
}

.display-title {
    display: flex;
    align-items: center;
}

.display-title h2 {
    margin: 0;
}

.display-title div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 1rem;
}

h3 {
    font-size: 0.9rem;
}

.display-title div h2:first-child {
    font-size: 0.8rem;
    font-weight: 100;
}

.display-title div h2:last-child {
    font-size: 2rem;
}

article {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
}

article p {
    margin-top: 0;
}

section div {
    flex: 1;
}

#tip-img7 {
    width: 95%;
}

#tip-img9 {
    width: 75%;
}

#tip-img10 {
    width: 60%;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: var(--background-color);
    border-radius: 6px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--primary-color);
    border-radius: 6px;
    border: 3px solid var(--background-color);
}

::-webkit-scrollbar-thumb:hover {
    background-color: darken(var(--primary-color), 10%);
    /* opcional, hover */
}


@media screen and (max-width: 1310px) {
    body {
        margin: 50px;
    }
}

@media screen and (max-width: 1000px) {
    header {
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width: 850px) {
    main {
        flex-direction: column;
    }
}

@media screen and (max-width: 500px) {
    section {
        flex-direction: column;
    }

    img {
        max-width: 50%;
    }

    article {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .display-title {
        display: flex;
        align-items: center;
        justify-content: left;
    }
}

@media print {

    html,
    body {
        background: var(--background-color);
        -webkit-print-color-adjust: exact;
        print-color-adjust: exact;
    }
}
