---
import "../styles/global.css"
---

<html lang="es">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />

		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+New&display=swap" rel="stylesheet">

		<link href="https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap" rel="stylesheet">
		<title>CDMX TRAVEL TIPS</title>
	</head>
	<body>
	<header>
	    <h1>CDMX TRAVEL TIPS 11</h1>
					<p>旅は予想もつかないから面白い.だから先回りしすぎるのもどうかと思うけど、やはりセオリ ー やナ ー というものはある。ということで CDMX (メキシ 0 シティ)の旅の 0 ツを伝授.あとは君自身の直感でこの美しくもカオスな街を楽しんでほしい.</p>
	</header>
	</body>
</html>
